name: deploy
on:
  push:
    branches:
      - 'main'
    paths:
      - telegrambot/**
      - workers/**

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Heroku login credentials
        run: |
          chmod +x ./scripts/heroku-login.sh
          sh ./scripts/heroku-login.sh
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
          HEROKU_EMAIL: ${{ secrets.HEROKU_EMAIL }}
      - name: Set configurations variables on heroku 
        run: |
          heroku config:set BOT_TOKEN=$BOT_TOKEN -a $HEROKU_APP_NAME
          heroku config:set REDIS_URL=$REDIS -a $HEROKU_APP_NAME
          heroku config:set PRAYER_API_ENDPOINT=$PRAYER_API_ENDPOINT -a $HEROKU_APP_NAME
          heroku config:set NODE_ENV=$NODE_ENV -a $HEROKU_APP_NAME
        env:
          HEROKU_APP_NAME: ${{ secrets.HEROKU_APP_NAME }}
          BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          REDIS_URL: ${{ secrets.REDIS }}
          PRAYER_API_ENDPOINT: ${{ secrets.PRAYER_API_ENDPOINT }}
          NODE_ENV: ${{ secrets.NODE_ENV }}
      - name: Add Heroku remote
        run: heroku git:remote --app $HEROKU_APP_NAME
        env:
          HEROKU_APP_NAME: ${{ secrets.HEROKU_APP_NAME }}
      - name: Set Heroku Stack
        run: heroku stack:set container
      - name: Push to heroku
        run: git push -f heroku main:main